$header-color: #5c96f3;

.dashboard {
  color: rgba(255, 255, 255, .87);

  .rightBlock {
    height: 100%;
  }

  .container {
    margin: 0 -12px;
  }

  @media (max-width: 1024px) {
    .container {
      width: 100%;
    }
  }

  .widget:not(:last-child) {
    padding-bottom: 10px;
  }
}